    body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(../../model/813087.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    }

    body:before {

        content: "";
        width: 100%;
        min-height: 100vh;
        position: absolute;
        position: fixed;
        top:0;
        left:0;


        background: linear-gradient(90deg, grey, white);

        opacity: 0.2;
        z-index: -1;
    }

    .menu{

    list-style: none;
    padding: 0;
    background-color: #092327;
    width: 90px;
    max-width: 1000px;
    position: fixed;
    margin: 0 left;
    box-shadow: 0px 0px 2px white;
    
    }
    
    .menu li a{
        text-decoration: none;
        color: white;
        padding: 20px;
        display: block;
       
       
    
    }
    
    .menu li{
        display: inline-block;
        text-align: center;
        
        
    }
    .menu li a:hover{
    
    background-color: #e8e8e8;
    color: #092327;
    
    }
    
    h1{
   
        color: #e8e8e8
      
            
    }
    .titulo{
    
        background-color: #092327;
        font-size: 40px;
        text-align: center;
        display: inline-block;
        height: 50px;
        width: 450px;
        margin: 0 auto;
        padding: 19px;
        box-shadow: 0px 0px 15px #000;
    }
    

    #main-container{
        
        margin: 40px auto;
        width: 600px;
        
    }

    table{

        background-color: white;
        border-collapse: collapse;
        text-align: center;
                
    }

    th,td{
        border: solid 1px black;
        padding:12px;



    }

    thead{
        background-color: #092327;
        color: white;
    }

    tr:hover td{

    background-color: #ddd;
    color: #092327;

    }

    button{

    width: 200px;
    height: 80px;
    background-color: #092327;
    color: white;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    box-shadow: 0px 0px 10px black;
        
        
        }
        
        button:hover{
        
       background: #ccc;
        color: #092327;
        
        }

        
        .subTitulo{

            background-color: rgb(230, 224, 224);
            font-size: 20px;
            text-align: center;
            display: inline-block;
            height: 20px;
            width: 200px;
            margin: 0 auto;
            padding: 19px;
            box-shadow: 0px 0px 15px #000;

        }

        .subTitulo2{

            background-color: rgb(230, 224, 224);
            font-size: 20px;
            text-align: center;
            display: inline-block;
            height: 20px;
            width: 200px;
            margin: 0 auto;
            padding: 19px;
            box-shadow: 0px 0px 15px #000;

        }

       
      

   
    