<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style/estilo_paginaDW.css">
        <title>ACTIVIDADES_DW</title>
    </head>

    <body>
                
        <!--Menu  de unidades de actividades-->
        <ul class="menu">
            <li><a href="#">INICIO</a></li>
            <li><a href="DATOS.html">DATOS</a></li>
            <li><a href="ACTIVIDAD1.html">UNIDAD #1</a></li>
            <li><a href="#">UNIDAD #2</a></li>
            <li><a href="#">UNIDAD #3</a></li>
            <li><a href="#">UNIDAD #4</a></li>
        </ul>

         <!--Datos de pagina-->
        </br>
        <h1 class="titulo">DESARROLLO WEB</h1> 
        </br>     
        <div class="parrafo">
            
            <p>Página web utilizada por el estudiante de quinto semestre 
                de ingeniería de software Vincent Arturo Rolong Márquez 
                para probar y presentar su progreso en el aprendizaje de 
                la asignatura de desarrollo web.</p>
          
        </div>
        
        </br>
        </br>
        </br>


        <!--Imagen de pagina-->
        <div class="Imagen">
            
            <img src="../model/logo-oficial-unicartagena.png" width="500px">

        </div>
    

    </body>
</html>