<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/estilo_paginaDW2.css">
</head>
<body>
    
    <!--Menu  de unidades de actividades-->
    <ul class="menu">
        <li><a href="ACTIVIDADES_DW.html">INICIO</a></li>
        <li><a href="#">DATOS</a></li>
        <li><a href="ACTIVIDAD1.html">UNIDAD #1</a></li>
        <li><a href="#">UNIDAD #2</a></li>
        <li><a href="#">UNIDAD #3</a></li>
        <li><a href="#">UNIDAD #4</a></li>
    </ul>

      <!--Datos de pagina-->
    </br>
    <h1 class="titulo">DATOS DE LA PAGINA</h1> 
    
    <br/>
    <br/>
    <br/>

    <h3 class="subTitulo2">Proyecto docente</h3>
    <br/>
    <br/>

    <a href="../model/Proyecto_Docente_DESARROLLO_WEB.pdf" target="_blanck"><button>Abrir PDF</button></a>

    <br/>
    <br/>
    <br/>
    <br/>


      <!--Tabla de informacion-->
    <h3 class="subTitulo">Tabla de informacion</h3>
    <div id="main-container">
        <table>
            <thead>
                <th>Asignatura</th><th>Estudiante</th><th>Tutor</th><th>Semestre</th><th>Unidades</th>
            </thead>
                <tr>
                    <td>Desarrollo web</td><td>Vincent Arturo Rolong</td><td>John Carlos Arrieta </td><td>V</td><td>4</td>
                </tr>
        </table>
    </div>

</body>
</html>